body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

.theme{
    max-width: fit-content;
    background-color: #0a58f6;
    color: white;
    align-self: center;
}

.calculator{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    background-color:black;
    border-radius: 10px;
}

.screen{
    min-width: 400px;
    height: 100px;
    background-color: black;
    margin: 0;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#upperNumber{
    font-size: 20px;
    margin-top: 10px;
}

#operator{
    font-size: 20px;
}

#lowerNumber{
    font-size: 20px;
}



.btn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 15px;
    font-size: 50px;
    border: 1px solid #313131;
    background-color: #313131;
    color: white;
}

.blue{
    background-color:#f69a06 ;
    color: white;
}

.equal{
    background-color: #f69a06;
    color: white;
}

p{
    text-align: center;
}